@charset "utf-8";

/* ヘッダーを横に配置 */
.container {
    display: flex;
    height: 100vh;
}

/* ヘッダー設定 */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* ヘッダーの枠幅 */
    background-color: #f0f0f0;
    padding: 20px;
}

.header-inner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area {
    width: 100%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header h1 {
    font-size: 1rem;
    letter-spacing: 1em;
    line-height: 1.3;
    color: #3e2058;
    padding-bottom: 20px;
}

#header h1 span {
    letter-spacing: 0.5em;
    display: block;
    font-size: 1.2rem;
}

#header p {
    letter-spacing: 0.3em;
}

/* ヘッダーのサイトメニュー設定 */
.site-menu ul { /*7*/
    display: flex;
    flex-direction: column; /* 追加row */
}

.site-menu ul li { /*7*/
    margin-left: 20px;
    margin-right: 20px;
    margin: 10px 0;
}

.site-menu ul li a {
    writing-mode: horizontal-tb; /* 追加 */
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
      
    /*.m-plus-1p-regular {
        font-family: "M PLUS 1p", sans-serif;
        font-weight: 400;
        font-style: normal;
      }*/
}

/* 授業 */
*,
::before,
::after { /*7*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol { /*7*/
    list-style: none;
}

a { /*7*/
    color: inherit;
    text-decoration: none;
}

body { /*7*/
    font-family: sans-serif;
    font-size: 16pt;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

img { /*7*/
    max-width: 100%;
}

@media (max-width: 800px) {
    /* ヘッダーエリア */
    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        height: 80px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        width: 100%; /* 追加 */
    }

    .header-inner {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
        width: 100%; /* 追加 */
    }

    .header-site-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #736e62;
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }

    .header-site-menu nav {
        margin-bottom: 20px;
    }

    .header-site-menu nav ul {
        flex-direction: column;
        text-align: center;
    }

    .header-site-menu nav ul li {
        margin: 10px 0;
    }

    .header-site-menu nav ul li a {
        font-size: 1.2rem;
    }

    .header-site-menu.is-show {
        display: block;
    }

    /* フッターのサイトメニュー */
    .site-menu ul {
        display: block;
        text-align: center;
    }

    .site-menu li {
        margin-top: 20px;
    }

    .footer {
        margin-top: 80px; /* 追加 */
    }
    .copyright { /*9*/
        margin-top: 50px;
    }
}

.footer { /*7*/
    color: #ffffff;
    background-color: #24211b;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright { /*7*/
    font-size: 14pt;
    font-weight: bold;
    margin-top: 90px;
}
