@charset "utf-8";

/* ヘッダーを横に配置 */
.container {
    display: flex;
    height: 100vh;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px; /* もともと230px */
    background-color: #f0f0f0;
    padding: 20px;
}

.header-area {
    width: 100%;
}

#header h1 {
    font-size: 1rem;
    letter-spacing: 1em;
    line-height: 1.3;
    color: #3e2058;
    padding-bottom: 20px;
}

#header h1 span {
    letter-spacing: 0.5em;
    display: block;
    font-size: 1.2rem;
}

#header p {
    letter-spacing: 0.3em;
}

/*
.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/index/bg_main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.first-view-text p {
    font-size: 18px;
    margin-top: 20px;
}
*/
.lead { /*8*/
    max-width: 1200px;
    margin: 60px auto;
}

*,
::before,
::after { /*7*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol { /*7*/
    list-style: none;
}

a { /*7*/
    color: inherit;
    text-decoration: none;
}

body { /*7*/
    font-family: sans-serif;
    font-size: 16pt;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

img { /*7*/
    max-width: 100%;
}

.header-inner { /*7*/
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-menu-button { /*7*/
    display: none;
}

/*.header-logo {
    display: block;
    width: 170px;
}*/

.site-menu ul { /*7*/
    display: flex;
    flex-direction: row; /* 追加 */
}

.site-menu ul li { /*7*/
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul li a {
    writing-mode: horizontal-tb; /* 追加 */
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
      
    /*.m-plus-1p-regular {
        font-family: "M PLUS 1p", sans-serif;
        font-weight: 400;
        font-style: normal;
      }*/
}

/* 800px以上の画面幅では .first-view-text を非表示にする */
.first-view-text {
    display: none;
}

@media (max-width: 800px) {
    /* ヘッダーエリアの非表示 */
    .header-area {
        display: none;
    }

    /* ハンバーガーメニュー */
    .toggle-menu-button {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        display: block;
        width: 44px;
        height: 34px;
        background-image: url(../images/common/icon-menu.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
    }

    /* ハンバーガーメニューの設定 */
    .header-inner {
        justify-content: space-between;
    }

    .header-site-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        z-index: 10;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-site-menu.is-show {
        display: flex;
    }

    .header-site-menu nav {
        margin-bottom: 20px;
    }

    .header-site-menu nav ul {
        flex-direction: column;
        text-align: center;
    }

    .header-site-menu nav ul li {
        margin: 10px 0;
    }

    .header-site-menu nav ul li a {
        font-size: 1.2rem;
    }

    /* 写真の上に見出しを表示 */
    /*.first-view {
        position: relative;
        width: 100%;
        height: auto;
    }

    .first-view-text {
        display: block;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
        font-size: 1.5rem;
        z-index: 100;
    }*/

    /* その他 */
    .site-menu ul {
        display: block;
        text-align: center;
    }

    .site-menu li {
        margin-top: 20px;
    }

    .copyright { /*9*/
        margin-top: 50px;
    }
}

.footer { /*7*/
    color: #ffffff;
    background-color: #24211b;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.footer-logo {
    display: block;
    width: 235px;
    margin-top: 90px;
}*/

.copyright { /*7*/
    font-size: 14pt;
    font-weight: bold;
    margin-top: 90px;
}
